<% if Question.all.any? && Answer.all.any? %>

		<h1>Enter your zipcode...</h1>

		<%= render 'form', zip_code: @zip_code %>

		


<% else %>
    <h1> First admin need to create Question and Answer then survey will start.............. </h1>
<% end %>

